*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content:center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    background: rgb(32, 37, 34);
}

fieldset {
    display: flex;
    justify-content:center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    width: 50vw;
    height: 30vw;
    border-radius: 20px;
}

.in1 {
    width: 15vw;
    height: 40px;
    font-size: 15px;
    font-weight: bolder;
    text-align: center;
    color: #000;
    border:solid 1px #000;
    border-radius: 10px;
}

.in2 {
    width: 35vw;
    height: 40px;
    font-size: 15px;
    font-weight: bolder;
    text-align: center;
    color: #000;
    border:solid 1px #000;
    border-radius: 10px;
}

button{
    width: 10vw;
    height: 40px;
    font-size: 13px;
    font-weight: bolder;
    text-align: center;
    color: #000;
    border:solid 1px #000;
    border-radius: 10px;
}

button:hover{
 background-color: lightgreen;
}