body {
    background-color: lightslategray;
}

h1 {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
}

h3 {
    text-align: center;
}

section {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

.imagem {
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px whitesmoke;
    border-radius: 5px;
}

.al {
    margin: 10px;
    padding: 10px;
    width: 24vw;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    justify-content: center;
    border: solid 1px whitesmoke;
    border-radius: 5px;
}

.alsection {
    justify-content: left;
}

.vr {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 20px;
    border: solid 1px whitesmoke;
    border-radius: 5px;
}

.ct {
    margin: 10px;
    padding: 10px;
    width: 24vw;
    display: flex;
    flex-direction: center;
    justify-content: center;
    border: solid 1px whitesmoke;
    border-radius: 5px;
}