*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content:center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    background: rgb(32, 37, 34);
}

h1{
    padding: 17px;
    color:#ffff;
}

button{
    width: 20vw;
    height: 60px;
    font-size: 20px;
    color: #000;
    border:solid 1px #000;
}

button:hover{
 background-color: orangered;
}