*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
}

p {
    text-align: center;
    color: purple;
    font-size: 200px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
}

.child {
    width: 50%;
    height: 200px;
    background-color: lightsalmon;
    border: 3px solid black;
}

